
.App {
  text-align: center;
  width:100%;

}

.App__fog{
  position:fixed;
  z-index: 1;
  opacity:0.4;
  width:200vw;
  height: 100vh;
  background-image:url(Images/fog-horizontal.png);
  background-repeat: no-repeat;
  background-size: 200% 70%;
  background-position: bottom;
  /* animation: fog-move 60s linear infinite alternate; */
  overflow: hidden;
  animation: fog-animation 80s linear infinite alternate;
  pointer-events: none;
}

.navigation {
  font-family: "neontubes";
  display: flex;
  justify-content: center;
  z-index: 2;
}
.navigation ul {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.navigation a{
  color:grey;
}
.navigation ul a:visited, a:link {
  text-decoration: none;
  text-decoration-style: none;
}
.navigation ul li {
  font-size:2em;
  display: block;
  padding:2em;

}
.navigation ul li:hover a{
  cursor: pointer;
}

.navigation a:focus,.navigation a.active{
  color:white;
}
.navigation a.active{
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(29, 167, 10),
  0 0 20px rgba(29, 167, 10,.5),
  0 0 40px rgba(29, 167, 10,1),
  0 0 100px rgba(29, 167, 10,1),
  0 0 200px rgba(29, 167, 10,1),
  0 0 300px rgba(29, 167, 10,1),
  0 0 500px rgba(29, 167, 10,1),
  0 0 1000px rgba(29, 167, 10,1);
    font-weight: 600;
    text-transform: uppercase;
}

.logo {
  display: block;
  position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1em 0 1em;
  transform: translate(-50%,-50%);
  height: auto;
  font-family: "neontubes";
  text-align: center;
white-space: nowrap;

}
  .logo__krystiandziuk {
    font-size: 5em;
    display: block;
    transform: rotate(-1deg);
    color: white;
    text-shadow:
      0 0 0 transparent,
      0 0 10px rgb(255,0,60),
      0 0 20px rgba(255,0,60,.5),
      0 0 40px rgba(255,0,60,1),
      0 0 100px rgba(255,0,60,1),
      0 0 200px rgba(255,0,60,1),
      0 0 300px rgba(255,0,60,1),
      0 0 500px rgba(255,0,60,1),
      0 0 1000px rgba(255,0,60,1);
    animation: blink 4s infinite alternate;
  }
  .logo__text {
    display: flex;
    justify-content: flex-end;
    transform: rotate(1deg);
    font-size: 2.5em;
    color: white;
    text-shadow:
      0 0 0 transparent,
      0 0 10px rgb(38,149,255),
      0 0 20px rgba(38,149,255,.5),
      0 0 40px rgba(38,149,255,1),
      0 0 100px rgba(38,149,255,1),
      0 0 200px rgba(38,149,255,1),
      0 0 300px rgba(38,149,255,1),
      0 0 500px rgba(38,149,255,1);
    animation: buzz 0.01s infinite alternate;
    white-space: normal;
  }
  .logo__text--changeText::before {
    margin: 0 0.8em 0 0;
    display:block;
    content:'Front-End';
    animation: changetext 20s linear infinite;
  }
  .logo__developer{
    margin: 0 2em 0 0;
  }

.aboutMe{
  max-width: 1000px;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin:0 auto;
  color:rgb(160, 160, 160);
  font-family: 'Nunito', sans-serif;
  text-shadow: 0 1px 3px rgba(49, 49, 49, 0.4), 0 0 20px rgba(48, 48, 48, 0.075);
  min-height: 60vh;
  max-height: 70vh;
  white-space: pre-wrap;
}
.aboutMe__info-container {
  
  width:100%;
}
.aboutMe__info-container span {
  display:block;
  text-shadow: 5px 15px 5px rgba(0,0,0,0.30), 5px 10px 5px rgba(0,0,0,0.22);
}
.aboutMe__info-container span a {
  color: rgb(124, 45, 45)
}
.aboutMe__img {
  float:left;
  opacity:0.5;
  max-width:25%;
  z-index:-3;
}
.aboutMe__fontello-icons {
 
  clear: both;
  display:flex;
  padding:2em;
  text-align: center;
  justify-content: space-between;
}

.App__sound-button{
  z-index: 2;
  cursor: pointer;
  position:fixed;
  right:3em;
  bottom:3em;
  color:white;

}
.App__sound-button--sound-off:after {
  content:'\00d7';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 4em;
  opacity:0.3;
  color:red;
}
.App__sound-button--sound-on:after {
  content:'\00d7';
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 4em;
  opacity:0;
}
.icon-sound:before {
  font-size: 2em;

}



  @keyframes fog-animation {
    0% {
      transform: translateX(-98vw) translateY(0%);
    }
    50% {
      transform: translateX(0%) translateY(0);
    }
    100% {
      transform: translateX(-98vw) translateY(0);
    }
  }
@keyframes changetext {
  0%{content: 'Front-End'}
  33%{content: 'React';}
  66%{content: 'Web'}
}
@keyframes fog-move{
  0% {background-position: -98vw 0 };
  50% {background-position: 0, 100%};
  100% {background-position: -98vw 0 };
}
@keyframes buzz {
  70% { opacity: 0.80; }
}
@keyframes blink {
  40% { opacity: 1; }
  42% { opacity: 0.8; }
  43% { opacity: 1; }
  45% { opacity: 0.2; }
  46% { opacity: 1; }
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }
  .logo .hrs {  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 8px;
  }
  .logo .hrs {  }
}

 .aboutMe__fontello-icons [class^="icon-"]:before{
  font-size: 3.5em;
  color: rgba(120,120,120,0.9);
  text-shadow: 10px 19px 5px rgba(0,0,0,1), 10px 15px 5px rgba(0,0,0,1);

}

.aboutMe__fontello-icons .icon-npm:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(203, 56, 55),
  0 0 20px rgba(203, 56, 55,.5),
  0 0 40px rgba(203, 56, 55,1),
  0 0 100px rgba(203, 56, 55,1),
  0 0 200px rgba(203, 56, 55,1),
  0 0 300px rgba(203, 56, 55,1),
  0 0 500px rgba(203, 56, 55,1),
  0 0 1000px rgba(203, 56, 55,1);
} /* '' */
.aboutMe__fontello-icons .icon-css3-1:hover:before,.aboutMe .fontello-icons .icon-css3:hover:before,.aboutMe .fontello-icons .icon-css3-2:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(21, 114, 182),
  0 0 20px rgba(21, 114, 182,.5),
  0 0 40px rgba(21, 114, 182,1),
  0 0 100px rgba(21, 114, 182,1),
  0 0 200px rgba(21, 114, 182,1),
  0 0 300px rgba(21, 114, 182,1),
  0 0 500px rgba(21, 114, 182,1),
  0 0 1000px rgba(21, 114, 182,1);
} /* '' */
.aboutMe__fontello-icons .icon-javascript:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(247, 223, 30),
  0 0 20px rgba(247, 223, 30,.5),
  0 0 40px rgba(247, 223, 30,1),
  0 0 100px rgba(247, 223, 30,1),
  0 0 200px rgba(247, 223, 30,1),
  0 0 300px rgba(247, 223, 30,1),
  0 0 500px rgba(247, 223, 30,1),
  0 0 1000px rgba(247, 223, 30,1);
} /* '' */
.aboutMe__fontello-icons .icon-react:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(97, 218, 251),
  0 0 20px rgba(97, 218, 251,.5),
  0 0 40px rgba(97, 218, 251,1),
  0 0 100px rgb(97, 218, 251),
  0 0 200px rgba(97, 218, 251,1),
  0 0 300px rgba(97, 218, 251,1),
  0 0 500px rgba(97, 218, 251,1),
  0 0 1000px rgba(97, 218, 251,1);
} /* '' */
.aboutMe__fontello-icons .icon-node-dot-js:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(51, 153, 51),
  0 0 20px rgba(51, 153, 51,.5),
  0 0 40px rgba(51, 153, 51,1),
  0 0 100px rgba(51, 153, 51,1),
  0 0 200px rgba(51, 153, 51,1),
  0 0 300px rgba(51, 153, 51,1),
  0 0 500px rgba(51, 153, 51,1),
  0 0 1000px rgba(51, 153, 51,1);
} /* '' */
.aboutMe__fontello-icons .icon-node:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(51, 153, 51),
  0 0 20px rgba(51, 153, 51,.5),
  0 0 40px rgba(51, 153, 51,1),
  0 0 100px rgba(51, 153, 51,1),
  0 0 200px rgba(51, 153, 51,1),
  0 0 300px rgba(51, 153, 51,1),
  0 0 500px rgba(51, 153, 51,1),
  0 0 1000px rgba(51, 153, 51,1);
} /* '' */
.aboutMe__fontello-icons .icon-html5:hover:before,.aboutMe .fontello-icons .icon-html5-1:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(227, 79, 38),
  0 0 20px rgba(227, 79, 38,.5),
  0 0 40px rgba(227, 79, 38,1),
  0 0 100px rgba(227, 79, 38,1),
  0 0 200px rgba(227, 79, 38,1),
  0 0 300px rgba(227, 79, 38,1),
  0 0 500px rgba(227, 79, 38,1),
  0 0 1000px rgba(227, 79, 38,1);
} /* '' */
.aboutMe__fontello-icons .icon-wordpress:hover:before {
  color:white;
  text-shadow:
  0 0 0 transparent,
  0 0 10px rgb(21, 114, 182),
  0 0 20px rgba(21, 114, 182,.5),
  0 0 40px rgba(21, 114, 182,1),
  0 0 100px rgba(21, 114, 182,1),
  0 0 200px rgba(21, 114, 182,1),
  0 0 300px rgba(21, 114, 182,1),
  0 0 500px rgba(21, 114, 182,1),
  0 0 1000px rgba(21, 114, 182,1);
} /* '' */